* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /* NAVBAR */

.navbar {
  width: 100%;
  height: 80px;
  background: #fff;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
  position: sticky;
  top: 0;
  z-index: 999;
}

/* LOGO */

.logo-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-section img {
  width: 48px;
  height: 48px;
  object-fit: contain;
}

.logo-section h2 {
  color: #2563eb;
  font-size: 24px;
  font-weight: 700;
}

/* NAV LINKS */

.nav-links {
  display: flex;
  align-items: center;
  gap: 28px;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #2563eb;
}

.active-link {
  color: #2563eb !important;
  font-weight: 700;
}

/* BUTTONS */

.login-btn {
  width: 110px;
  height: 44px;
  background: #fff;
  border: 1px solid #2563eb;
  border-radius: 8px;
  color: #2563eb;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #2563eb;
  color: #fff;
}

.register-btn {
  width: 140px;
  height: 44px;
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.register-btn:hover {
  background: #1746c8;
}

/* HAMBURGER */

.menu-icon {
  display: none;
  font-size: 32px;
  cursor: pointer;
  user-select: none;
}

/* LAPTOP */

@media (max-width: 1024px) {
  .navbar {
    padding: 0 35px;
  }

  .nav-links {
    gap: 18px;
  }

  .logo-section h2 {
    font-size: 22px;
  }
}

/* MOBILE */

@media (max-width: 768px) {
  .navbar {
    padding: 0 20px;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: #fff;
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    font-size: 18px;
  }

  .login-btn,
  .register-btn {
    width: 85%;
    max-width: 280px;
  }
}

/* SMALL MOBILE */

@media (max-width: 480px) {
  .navbar {
    height: 70px;
  }

  .logo-section img {
    width: 40px;
    height: 40px;
  }

  .logo-section h2 {
    font-size: 18px;
  }

  .nav-links {
    top: 70px;
  }
}